Ticket/TicketClient/src/main/resources/TicketMessage.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
	targetNamespace="http://www.bluetechnology.com.tw/Ticket/wsdl/message/TicketService/v1-0"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:bt="http://www.bluetechnology.com.tw/Ticket/xsd/TicketService/v1-0"
	xmlns:btwsdl="http://www.bluetechnology.com.tw/Ticket/wsdl/TicketService/v1-0"
	xmlns:sec="http://cxf.apache.org/configuration/security" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TicketMessage">

	<wsdl:types>
		<xsd:schema>
			<xsd:import
				namespace="http://www.bluetechnology.com.tw/Ticket/xsd/TicketService/v1-0"
				schemaLocation="Ticket.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ticketSeatInquiryRequest">
		<wsdl:part name="body" element="bt:ticketSeatInquiryRequest" />
	</wsdl:message>
	<wsdl:message name="ticketSeatInquiryResponse">
		<wsdl:part name="body" element="bt:ticketSeatInquiryResultResponse" />
	</wsdl:message>

	<wsdl:message name="ticketSeatOrderRequest">
		<wsdl:part name="body" element="bt:ticketSeatOrderResultRequest" />
	</wsdl:message>
	<wsdl:message name="ticketSeatOrderResponse">
		<wsdl:part name="body" element="bt:ticketSeatOrderResultResponse" />
	</wsdl:message>

	<wsdl:message name="ticketSeatOrderInquiryRequest">
		<wsdl:part name="body" element="bt:ticketSeatOrderInquiryRequest" />
	</wsdl:message>
	<wsdl:message name="ticketSeatOrderInquiryResponse">
		<wsdl:part name="body" element="bt:ticketSeatOrderInquiryResultResponse" />
	</wsdl:message>

</wsdl:definitions>